POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
DJANGO_DEBUG=
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SECRET_KEY=
LOAD_TEST_DATA=
BREAKINGPOINT_BASE_URL=
BREAKINGPOINT_API_KEY=
UNDERDOG_BASE_URL=https://api.underdogfantasy.com
UNDERDOG_STATE_CONFIG_ID=8176bf5b-d026-4be0-b6b8-02f1f101a8c6
